form {
    border: 2px solid black;
    width: 40%;
    margin: 3px auto;
}

form * {
    margin-top: 3px;
    margin-bottom: 3px;
}

label:hover {
    color: #5ef740
}

input[type='text'],
input[type='password'] {
    padding: 1em;
}

input[type='submit']:hover {
    background: rgba(255, 255, 255, .2);
}

input {
  border-radius: 0.5em;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 1em;
}
